.failurecont {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.failure-img {
  height: 500px;
  width: 500px;
}
.retry-btn {
  color: #ffffff;
  background-color: #4656a1;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 80px;
}
